<ion-view view-title="">
    <div  class="bg-full-image home-image relative">
        <ion-content scroll="false">

            <div class="home-menu col">
                <div class="home-menu-items">
                    <a class="home-item card" href="#/app/report" id="home-report">
                        <div class="item item-text-wrap">
                            <h3>Report</h3>
                        </div>
                    </a>

                    <a class="home-item card" href="#/app/contents/<%= shortCutMenus[0].id %>" id="home-content-1">
                        <div class="item item-text-wrap">
                            <h3><%= shortCutMenus[0].title %></h3>
                        </div>
                    </a>
                    <a class="home-item card" href="#/app/map" id="home-map">
                        <div class="item item-text-wrap">
                            <h3>Health services</h3>
                        </div>
                    </a>
                    <a class="home-item card" href="#/app/contents/<%= shortCutMenus[1].id %>" id="home-content-3">
                        <div class="item item-text-wrap">
                            <h3><%= shortCutMenus[1].title %></h3>
                        </div>
                    </a>
                    <a class="home-item card" href="#/app/contents/<%= shortCutMenus[2].id %>" id="home-content-4">
                        <div class="item item-text-wrap">
                            <h3><%= shortCutMenus[2].title %></h3>
                        </div>
                    </a>
                    <a class="home-item card" href="#/app/contents/<%= shortCutMenus[3].id %>" id="home-content-5">
                        <div class="item item-text-wrap">
                            <h3><%= shortCutMenus[3].title %></h3>
                        </div>
                    </a>
                    <a class="home-item card" href="#/app/contents/<%= shortCutMenus[4].id %>" id="home-content-6">
                        <div class="item item-text-wrap">
                            <h3><%= shortCutMenus[4].title %></h3>
                        </div>
                    </a>
                </div>
            </div>
        </ion-content>

    </div>
</ion-view>
